.tbl  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#000;
}
td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
    border: 1px solid #aabcfe;
    color:#fff;
    background-color:gray;
}
th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
    border: 1px solid #aabcfe;
    color:#fff;
    background-color:#000;
}
.th-head{
    width: 400px;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}

.td-body{
    text-align:left;
    vertical-align:top
}
input{
    width: 15%;
}
.inputs-block, .btn-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}

.btn-dao input[type='button']{
    background-color: darkred;
}
input[type='button']{
    width: 20%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    padding: .8em 2em;
    background-color: #000;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
input[type='text'], input[type='number']{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: box-shadow .5s ease;
}
label{
    margin: 0 10px;
}